body{
background:#fff5d9;
color:green;
margin-top:0;
}
.nav{
  background: rgb(51, 118, 124);
  padding: 3px;
}
hr{
border-color:red;
}
h1{
color:red;
text-align:center;
}
h1:hover{
color:yellow;
}
table{
   margin-left: auto;
    margin-right: auto;
}
ol{
font-family:"comic sans ms";
}
li:hover{
background:#ceffa8;
width:100px;
}
a:hover{
background:cyan;
color: #416a75;
font-size: 4;
}
a{
font-family: sans-serif;
color:#ffffff;
text-decoration: none;
padding: 8px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.img_gallery{
height: 200px ;
width: 100px ;
border:1px solid #fff;
box-shadow: 1.5px 1.5px 5px #a6a6a6;
-moz-box-shadow: 1.5px 1.5px 5px #a6a6a6;
-webkit-box-shadow: 1.5px 1.5px 5px #a6a6a6;
-khtml-box-shadow: 1.5px 1.5px 5px #a6a6a6;
}
#big_gallery{
height: 415px ;
width: 255px ;
border:1px solid #fff;
box-shadow: 2px 2px 5px #a6a6a6;
-moz-box-shadow: 2px 2px 5px #a6a6a6;
-webkit-box-shadow: 2px 2px 5px #a6a6a6;
-khtml-box-shadow: 2px 2px 5px #a6a6a6;
}

/* The switch - the box around the slider */
.roman {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.roman input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
